.m-t-7  { margin-top:7px; }
.m-t-10 { margin-top:10px; }
.m-t-15 { margin-top:15px; }
.m-t-17 { margin-top:17px; }
.m-t-30 { margin-top:30px; }

.m-r-7  { margin-right:7px; }
.m-r-10 { margin-right:10px; }
.m-r-15 { margin-right:15px; }
.m-r-17 { margin-right:17px; }
.m-r-30 { margin-right:30px; }

.col-centered{
  float: none;
  margin: 0 auto;
}

.analysis-input{
  padding-top: 80px !important;
}


/* for bar chart */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: blue;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
