.project
.pydevproject

wikiwhere
_h5ai
articles
fonts

data/*
!data/images
!data/dbpedia-locations.rq


css/*
!css/custom.css


js/*
!js/analysis-table.js
!js/bar-chart.js
!js/heat-map.js
!js/url-mod.js

